@model CRM.ViewModels.StudentsPaymentListViewModel
<table class="table table-bordered">
<thead>
<tr>
    <th>
        <a @{ var sortName = Model.NameSortState;}
            onclick="SortStudentByBranchIdPayment('@sortName', @ViewBag.BranchId)">
            Имя ребенка
        </a>
    </th>
    <th>
        <a @{ var sortLastName = Model.LastNameSortState;}
            onclick="SortStudentByBranchIdPayment('@sortLastName', @ViewBag.BranchId)">
            Фамилия ребенка
        </a>
    </th>
    <th>
        <a @{ var MustTotalSortState = Model.MustTotalSortState;}
            onclick="SortStudentByBranchIdPayment('@MustTotalSortState', @ViewBag.BranchId)">
            Стоимость
        </a>
    </th>
    <th>
        <a @{ var AllMustTotalSortState = Model.AllMustTotalSortState;}
            onclick="SortStudentByBranchIdPayment('@AllMustTotalSortState', @ViewBag.BranchId)">
            Сумма за все время
        </a>
    </th>
    <th>
        <a @{ var AllTotalSortState = Model.AllTotalSortState;}
            onclick="SortStudentByBranchIdPayment('@AllTotalSortState', @ViewBag.BranchId)">
            Сумма оплаты за все время
        </a>
    </th>
    <th>
        <a @{ var BalanceSortState = Model.BalanceSortState;}
            onclick="SortStudentByBranchIdPayment('@BalanceSortState', @ViewBag.BranchId)">
            Задолжность
        </a>
    </th>
    <th>
        <a @{ var PeriodCountSortState = Model.PeriodCountSortState;}
            onclick="SortStudentByBranchIdPayment('@PeriodCountSortState', @ViewBag.BranchId)">
            Кол-во месяцов обучения
        </a>
    </th>
    <th>
        <a @{ var LastPaymentSortState = Model.LastPaymentSortState;}
            onclick="SortStudentByBranchIdPayment('@LastPaymentSortState', @ViewBag.BranchId)">
            Последняя дата оплаты
        </a>
    </th>
    <th>
        Ном тел родителя
    </th>
    <th>
        Последний ком оплаты
    </th>

</tr>
</thead>
<tbody>
@foreach (var item in Model.Student)
{
    <tr>
            <td>
                <a asp-controller="Payment" asp-action="CardStudent" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MustTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllMustTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastCommit)
            </td>
        </tr>
}
</tbody>
</table>
<script>
    function SortStudentByBranchIdPayment(SortAction, Id) {
        $('#selectedStudentsByBranchId').load('@Url.Action("SortSelectedStudentsByBranchId", "Payment")?sort=' + SortAction + '&Id=' + Id);
    }
</script>
