@model System.Collections.Generic.List<CRM.Models.Student>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ФИО ребенка
            </th>
            <th>
                Дата рождения
            </th>
            <th>
                Номер тел
            </th>
            <th>
                Дата записи
            </th>
            <th>
                Дата пробного урока
            </th>
            <th>
                Уровень
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Status == CRM.Helpers.StudentStatusEnum.trial)
            {
                <tr style="background-color: red">
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-controller="Student" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.LastName)
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-controller="Student" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.DateOfBirthday)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-controller="Student" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-controller="Student" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-controller="Student" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.TrialDate)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-controller="Student" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Level.Name)
                        </a>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-controller="Student" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.LastName)
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-controller="Student" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.DateOfBirthday)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-controller="Student" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-controller="Student" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-controller="Student" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.TrialDate)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-controller="Student" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Level.Name)
                        </a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
