@model System.Collections.Generic.IEnumerable<System.Linq.IGrouping<string, CRM.Models.Group>>

<div class="row">

    @{
        int branchId = @Convert.ToInt32(ViewData["BranchId"]);
        foreach (var item in Model)
        {
            <div class="col-md-3">
                <h5>@item.Key</h5>
                @foreach (var t in item)
                {
                    branchId = @t.BranchId;
                    int count = 7 - @t.Students.Count;
                    <div>
                        <a onclick="selectGroup(@t.Id)">@t.TimeTable.Time <span class="badge">@count</span></a>
                        @if (count > 0)
                        {
                            <div class="icon" style="" data-toggle="modal" data-target="#addStudent" onclick="Send(@t.Id)">
                            </div>
                        }
                    </div>
                }
            </div>
        }
        <div>
            <button onclick="ShowAddGroupForm(@branchId)">Add group</button>
            <div id="FormAddGroup"></div>
        </div>
    }
</div>
<div id="SelectedStudentsByGroupId"></div>

<div class="modal fade" id="addStudent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" placeholder="Введите Имя" class="form-control" id="name" name="name" required="required">
                        <label id="message" class="text-danger"></label>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Введите Фамилию" class="form-control" id="lastName">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Введите Отчество" class="form-control" id="fatherName">
                    </div>
                    <div class="form-group">
                        <input placeholder="Дата Рождения" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="dateOfBirth">
                    </div>
                    <div class="form-group">
                        <input placeholder="Дата Пробного" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="trialDate">
                    </div>
                    <div class="form-group">
                        <input placeholder="Дата Начала Обучения" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="startDate">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Введите Имя Родителя" class="form-control" id="parentName">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Введите Фамилию Родителя" class="form-control" id="parentLastName">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Введите Отчество Родителя" class="form-control" id="parentFatherName">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Введите Номер Телефона" class="form-control" id="phoneNumber">
                        <label id="error" class="text-danger"></label>
                    </div>
                    <div class="form-group">
                        <select id="status">
                            <option value="2">Пробный</option>
                            <option value="1">Учится</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="mySelect"></select>
                    </div>
                    <div class="form-group">
                        <textarea placeholder="Комментарий" class="form-control" id="comment"></textarea>
                    </div>
                    <input type="hidden" id="groupId">
                </div>
                <div class="modal-footer">
                    <submit type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</submit>
                    <submit type="button" class="btn btn-primary" onclick="AddStudent(@branchId)">Сохранить</submit>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    function selectGroup(ID) {
        $('#SelectedStudentsByGroupId').load('@Url.Action("SelectStudentsBuGroupId", "Branch")?id=' + ID);
    }
</script>
<script>
    function ShowAddGroupForm(branchId) {
        $('#FormAddGroup').load('@Url.Action("ShowFormForAddGroup", "Branch")?id=' + branchId);
    }
</script>
<script>
    function AddStudent(branchId) {
        submit = true;
        var name = $('#name').val();
        var lastName = $('#lastName').val();
        var fatherName = $('#fatherName').val();
        var dateOfBirth = $('#dateOfBirth').val();
        var trialDate = $('#trialDate').val();
        var startDate = $('#startDate').val();
        var parentName = $('#parentName').val();
        var parentLastName = $('#parentLastName').val();
        var parentFatherName = $('#parentFatherName').val();
        var phoneNumber = $('#phoneNumber').val();
        var status = $('#status').val();
        var level = $('#mySelect').val();
        var text = $('#comment').val();
        groupId = $('#groupId').val();
        if (name === "") {
            $("#message").html("*Заполните поле!");
            submit = false;

            return submit;
        } else {
            $.ajax({
                url: '@Url.Action("AddStudent", "Student")',
                type: 'POST',
                data: {
                    'name': name,
                    'lastName': lastName,
                    'fatherName': fatherName,
                    'dateOfBirth': dateOfBirth,
                    'trialDate': trialDate,
                    'startDate': startDate,
                    'parentName': parentName,
                    'parentLastName': parentLastName,
                    'parentFatherName': parentFatherName,
                    'phoneNumber': phoneNumber,
                    'status': status,
                    'levelId': level,
                    'text': text,
                    'groupId': groupId
                },
                success: function(data) {
                    selectGroupesByBranchId(branchId);
                    $('#addStudent').modal('hide');
                },
                error: function(error) {
                    $('#addStudent').modal('show');
                    $('#error').text('*' + error.responseJSON);
                }
            });
        }
    }
</script>
<script>
    function Send(groupId) {
        $('#groupId').val(groupId);
        GetAllLevels();
    }
</script>
<script>
    function GetAllLevels() {
        $.ajax({
            url: '@Url.Action("Index", "Level")',
            type: 'POST',
            data: {'id': 5},
            success: function (data) {
                var $mySelect = $('#mySelect');
                $.each(data, function(key, value) {
                    var $option = $("<option/>", {
                        value: key,
                        text: value
                    });
                    $mySelect.append($option);
                });
            },
            error: function (error) {
                console.log(error)
            }
        });
    }
</script>
<script>
    $('#addStudent').on(function (event) {
        var button = $(event.relatedTarget);
        var recipient = button.data('whatever');
        var modal = $(this);
        modal.find('.modal-body input').val(recipient);
    })
</script>
<script>
    $('#addStudent').on('hidden.bs.modal', function (e) {
        $(this)
            .find("input,textarea")
            .val('')
            .end();
        $('#error').text('');
    })
</script>

