@model System.Collections.Generic.List<CRM.Models.Student>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ФИО ребенка
            </th>
            <th>
                Дата рождения
            </th>
            <th>
                Номер тел
            </th>
            <th>
                Дата записи
            </th>
            <th>
                Дата пробного урока
            </th>
            <th>
                Уровень
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Status == CRM.Helpers.StudentStatusEnum.trial)
            {
                <tr style="background-color: red">
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrialDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Student">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Student">Details</a>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrialDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Student">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Student">Details</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
