@model System.Collections.Generic.IEnumerable<System.Linq.IGrouping<string, CRM.Models.Group>>

<div class="row">

    @{
        int branchId = @Convert.ToInt32(ViewData["BranchId"]);
        foreach (var item in Model)
        {
            <div class="col-md-3">
                <h5>@item.Key</h5>
                @foreach (var t in item)
                {
                    branchId = @t.BranchId;
                    <div>
                        <a onclick="selectGroup(@t.Id)">@t.TimeTable.Time</a>
                    </div>
                }
            </div>
        }
    }
</div>
<div id="SelectedStudentsBuGroupId"></div>


<script>
    function selectGroup(ID) {
        $('#SelectedStudentsBuGroupId').load('@Url.Action("SelectStudentsBuGroupId", "Branch")?id=' + ID);
    }
</script>
