@model CRM.ViewModels.StudentViewModel


<table class="table">
    <thead>
        <tr>
            <th>
                <a onclick="SortStudentByBranchId('@Model.LastNameSortState', @ViewBag.BranchId)">
                    ФИО Ребенка
                </a>
            </th>
            <th>
                <a onclick="SortStudentByBranchId('@Model.DateOfBirthdaySortState', @ViewBag.BranchId)">
                    Дата Рождения
                </a>
            </th>
            <th>
                <a onclick="SortStudentByBranchId('@Model.TrialDateSortState', @ViewBag.BranchId)">
                    Дата пробного урока
                </a>
            </th>
            <th>
                <a onclick="SortStudentByBranchId('@Model.PhoneNumberSortState', @ViewBag.BranchId)">
                    Номер телефона
                </a>
            </th>
            <th>
                <a onclick="SortStudentByBranchId('@Model.StatusSortState', @ViewBag.BranchId)">
                    Статус
                </a>
            </th>
            <th>
                <a onclick="SortStudentByBranchId('@Model.CommentSortState', @ViewBag.BranchId)">
                    Комментарии
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Student)
        {
            <tr>
                <td>
                    <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.LastName)
                        @Html.DisplayFor(modelItem => item.Name)
                        @Html.DisplayFor(modelItem => item.FatherName)
                    </a>
                </td>
                <td>
                    <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.DateOfBirthday)
                    </a>
                </td>
                <td>
                    <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.TrialDate)
                    </a>
                </td>
                <td>
                    <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </a>
                </td>
                <td>
                    <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Status)
                    </a>
                </td>
                <td>
                    <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Comments)
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function SortStudentByBranchId(SortAction, Id) {
        $('#SelectedTrialStudentsByBranchId').load('@Url.Action("SelectTrialStudentsByBranchId", "Student")?sort=' + SortAction + '&Id=' + Id);
    }
</script>