@model CRM.ViewModels.BranchesWithStudentsViewModel

@{
    ViewData["Title"] = "Index";
}

<ul class="nav nav-tabs">
    <li>
        <h4>
            <a onclick="SelectLeadStudents()">Лид</a>
        </h4>
    </li>

    @foreach (var item in Model.branches)
    {
        <li>
            <h4>
                <a class="btn-lg btn-default border border-dark " onclick="SelectArchiveStudentsByBranchId(@item.Id)">@Html.DisplayFor(modelItem => item.Name)</a>
            </h4>
        </li>
    }

</ul>

<div id="SelectedArchiveStudentsByBranchId">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    #Телефон
                </th>
                <th>
                    ФИО Родителя
                </th>
                <th>
                    Дата Записи
                </th>
                <th>
                    Дата Пробного
                </th>
                <th>
                    ФИО Ребенка
                </th>
                <th>
                    Дата Рождения
                </th>
                <th>
                    Уровень
                </th>
                <th>
                    Комментарии
                </th>
                <th>
                    Дата Переноса в Архив
                </th>
                <th>
                    Группа
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.students)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentLastName)
                        @Html.DisplayFor(modelItem => item.ParentName)
                        @Html.DisplayFor(modelItem => item.ParentFatherName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrialDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChangeStatusDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Group)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        function SelectArchiveStudentsByBranchId(id) {
            $('#SelectedArchiveStudentsByBranchId').load('@Url.Action("SelectArchiveStudentsByBranchId", "Student")?id=' + id);
        }
    </script>

    <script>
        function SelectLeadStudents() {
            $('#SelectedArchiveStudentsByBranchId').load('@Url.Action("SelectLeadStudents", "Student")');
        }
    </script>
}

