@model CRM.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Index";
}

<ul class="nav nav-tabs">
    @foreach (var item in Model.branches)
    {
        <li>
            <h4>
                <a class="btn-lg btn-default border border-dark " onclick="SelectArchiveStudentsByBranchId(@item.Id)">@Html.DisplayFor(modelItem => item.Name)</a>
            </h4>
        </li>
    }

</ul>

<div id="SelectedArchiveStudentsByBranchId">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <a asp-route-sortState="@Model.LastNameSortState">ФИО Ребенка</a>
                </th>
                <th>
                    <a asp-route-sortState="@Model.DateOfBirthdaySortState">Дата Рождения</a>
                </th>
                <th>
                    <a asp-route-sortState="@Model.CreatedDateSortState">Дата Записи</a>
                </th>
                <th>
                    <a asp-route-sortState="@Model.GroupSortState">Группа</a>
                </th>
                <th>
                    <a asp-route-sortState="@Model.ParentLastNameSortState">ФИО Родителя</a>
                </th>
                <th>
                    <a asp-route-sortState="@Model.PhoneNumberSortState">Номер телефона</a>
                </th>
                <th>
                    <a asp-route-sortState="@Model.TrialDateSortState">Дата Пробного урока</a>
                </th>
                <th>
                    <a asp-route-sortState="@Model.LevelSortState">Уровень</a>
                </th>
                <th>
                    <a asp-route-sortState="@Model.CommentSortState">Комментарии</a>
                </th>
                <th>
                    <a asp-route-sortState="@Model.ChangeStatusSortState">Дата перехода в архив</a>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Student)
            {
                <tr>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.LastName)
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.DateOfBirthday)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Group)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.ParentLastName)
                            @Html.DisplayFor(modelItem => item.ParentName)
                            @Html.DisplayFor(modelItem => item.ParentFatherName)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.TrialDate)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Level.Name)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Comments.LastOrDefault().Text)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.ChangeStatusDate)
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        function SelectArchiveStudentsByBranchId(id) {
            $('#SelectedArchiveStudentsByBranchId').load('@Url.Action("SelectArchiveStudentsByBranchId", "Student")?id=' + id);
        }
    </script>
}