@model IEnumerable<CRM.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ФИО Ребенка
            </th>
            <th>
                Дата Рождения
            </th>
            <th>
                Дата Записи
            </th>
            <th>
                ФИО Родителя
            </th>
            <th>
                Номер телефона
            </th>
            <th>
                Статус
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.LastName)
                            @Html.DisplayFor(modelItem => item.Name)
                            @Html.DisplayFor(modelItem => item.FatherName)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.DateOfBirthday)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.ParentLastName)
                            @Html.DisplayFor(modelItem => item.ParentName)
                            @Html.DisplayFor(modelItem => item.ParentFatherName)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color:black" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Status)
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
